*{
  font-family: 'poppins';
}
.container {
  position: relative;
}

.container h1 {
  text-align: center;
  font-weight: 400;
}
h2 {
  font-weight: 400;
}

#submit {
  position: absolute;
  right: 50px;
  cursor: pointer;
}
.container-sub {
  height: 100vh;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

 .sub {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: white;
  width: 450px;
  padding: 20px;
  box-shadow: 2px 4px 4px 2px gray;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease;
}

#cancel, #restart{
  background-color: red;
  color: white;
  cursor: pointer;
  border: 0;
  width: 100px;
  padding: 6px 0;
}
#restart{
  background-color: green;
}